
.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  background: #FFCE54;

  z-index: 1;

}

.container {
  width: 1000px;
  margin: 0 auto;
}

.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 960px) {





  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
