


/*
===================
===================
Nav
===================
===================
*/
nav {
  position: fixed;
  width: 100%;
  top: 80px;
  left: 0;
  background: #FFCE54;
  z-index: 1;
}

.indicator {
  position: relative;
  width: 100%;
  height: 3px;
  background: #F6BB42;
}

.indicator-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background: #FDE3A7;
  transition:
    width ease .3s,
    left cubic-bezier(.4,.95,.5,1.5) .5s;
}

.menu {
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu li {
  display: inline-block;
}

.tab {
  padding: 12px 8px;
  color:#333;
  font-weight: 600;
  letter-spacing: .025em;
  text-decoration: none;
}

.active-tab {
  color: #FDE3A7;
}

/*
===================
===================
Content
===================
===================
*/
.sec {
  position: relative;
  width: 90%;
  max-width: 680px;
  margin: 80px auto;
  padding: 40px;
  background: #ffffff;
  box-shadow:
    0 8px 16px rgba(50,50,90,0.1),
    0 2px 7px rgba(0,0,0,0.07);
}

.sec:before,
.sec:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #FFCE54;
  z-index: -1;
}

.sec:before {
  width: 40%;
  max-width: 200px;
  height: 13px;
  bottom: -13px;
}

.sec:after {
  width: 50px;
  height: 50px;
  bottom: -25px;
  border-radius: 25px;
}


h3 {
  padding-bottom: 20px;
  letter-spacing: .25em;
  color: #FDE3A7;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}

/* Drop cap */
p:nth-child(2):first-letter {
  float: left;
  font-size: 3.2em;
  margin-right: 15px;
  line-height: 1;
  color: #F6BB42;
}
